@import url('demo.css');
@import url('font-awesome.css');

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-1 {
    /* Size & position */
    width: 400px;
    margin: 0px auto 00px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    border-radius: 5px;
    background: #DDDDDD; /* Fallback */
    border:1px solid #DEDEDE;

}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 56px;
    width: 56px;

    /* Line */

    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 62px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
    background-color:#F4F4F4;
}

.form-1 input[type=text],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 20px 18px 20px 65px;
    /* Styles */
    border: none; /* Remove the default border */
    
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
  
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 input[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 400px;
    height: 10px;
    position:absolute;
    top:170px;
    left:-1px;
    z-index: 2;
text-align:center;
    /* Styles */
    background:transparent;
    border-radius: 50%;

}


.btn
{
            font-size: 14.994px; /* 15px */
            font-weight: 500;
            cursor:pointer;
}
      /* -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;*/      
        .btn
        {
            border: none;
            color: #ffffff;
            padding: 9px 12px 10px;
            line-height: 22px;
            text-decoration: none;
            text-shadow: none;
           
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
            -webkit-backface-visibility: hidden;
            text-align: center;
        }
        .btn:hover, .btn:focus
        {
            background-color: #cacfd2;
            color: #ffffff;
            outline: none;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
            -webkit-backface-visibility: hidden;
        }
        .btn:active, .btn.active
        {
            background-color: #a1a6a9;
            color: rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        .btn.disabled, .btn[disabled]
        {
            background-color: #bdc3c7;
            color: rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            opacity: 0.7;
            filter: alpha(opacity=70);
        }
        .btn.btn-large
        {
            font-size: 16.996px; /* 17px */
            line-height: 20px;
            padding: 12px 0px 13px;
        }
        .btn.btn-info
        {
            background-color: #3894E7;
        }
        .btn.btn-info:hover, .btn.btn-info:focus
        {
            background-color: #5dade2;
        }
        .btn.btn-info:active
        {
            background-color: #2c81ba;
        }
        .btn-block
        {
            display: block;
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .btn.btn-large
        {
            font-size: 16.996px; /* 17px */
            line-height: 20px;
            padding: 5px 0px 5px;
        }



form p { position: relative; }
form p label { position: absolute; top: 20px; left: 65px;opacity:0.5;cursor:text;}
form p br {display: none;}


form fieldset p input,
form fieldset p textarea {
	padding: 20px;
}

form fieldset p label {
	margin: 5px 5px 5px 6px;
}

input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    
    .inputbutton
    {
        background-color: #3894E7;
        font-size: 16.996px; /* 17px */
            line-height: 20px;
            padding: 12px 0px 13px;
            color: #ffffff;
            display:block;
            border: none;
            cursor:pointer;
            width:48%;
            -webkit-appearance: none;
            border-radius: 0;
    }
    
     .inputbutton:hover
     {
         background-color: #5dade2;
     }
     
     .inputbutton::active
        {
            background-color: #2c81ba;
        }