body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	background: #eee;
	color: #333;
}
.slideshow 
{
  padding-left: 48px;
  padding-right:48px;
  margin: 5px auto;
  position: relative;
  
  margin-top:10px;
}
.slideshow .arrow-left {
  background: url(../images/left-button.png);
  position: absolute;
  left: 0px;
  top: 50%;
  width: 48px;
  height: 48px;
  opacity:1;
}

.slideshow .arrow-left:hover,.slideshow .arrow-right:hover 
{
    opacity:0.5;
}
.slideshow .arrow-right {
  background: url(../images/right-button.png);
  position: absolute;
  right: 0px;
  top: 50%;
  width: 48px;
  height: 48px;
  opacity:1;
  z-index:100;
}

.thumbs-cotnainer {
	padding-bottom: 20px;
	padding-top: 20px;
}
.border-gradient {
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #dddddd, #eeeeee);
	background-image:    -moz-linear-gradient(top, #dddddd, #eeeeee);
	background-image:      -o-linear-gradient(top, #dddddd, #eeeeee);
	background-image:         linear-gradient(to bottom, #dddddd, #eeeeee);
	border: 1px solid #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
}
.pitem-cotnainer .swiper-slide {
	width: 305px;
	text-align: left;
	line-height: 1.3;
}

.fooditem
{
  box-shadow: 0px 0px 5px #000;
  width: 295px;
  cursor:pointer;
}

.slideaction
{
    width:80px;
    background-color:Gray;
    height:15px;
    margin-left:215px;
    padding-top:3px;
    margin-top:50px;
}

.thumbs-cotnainer img {
	
}
.app-title {
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
	white-space: nowrap;
	text-overflow:ellipsis;
	position: relative;
	overflow: hidden;
	max-width: 90%;
	text-align:center;
	font-family:Bickham Script Pro;
	margin-top:20px;
}
.app-discount {
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
	white-space: nowrap;
	text-overflow:ellipsis;
	position: relative;
	overflow: hidden;
	max-width: 90%;
	text-align:center;
}
.app-category {
	font-weight: 300;
}
.app-price {
	font-weight: bold;
	color: #999;
	text-shadow: 0px 1px 0px #fff;
}
