﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WUCPromotion.ascx.cs"
    Inherits="POS.Controls.WUCPromotion" %>
<%@ Register Assembly="AspNetPager" Namespace="Wuqi.Webdiyer" TagPrefix="webdiyer" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="eid" %>
<script type="text/javascript">
    var previouswarranty = null;
    Sys.Application.add_load(warrantyLoad);
    function warrantyLoad() {
        $(".promotionlist tr").unbind("click");
        $(".promotionlist tr").click(function () {
            var current = $(this).find(".buttons div").eq(0);
            if ($(previouswarranty).is(current))
                return;
            current.toggle("slow");
            if (previouswarranty != null) {
                $(previouswarranty).toggle("slow", function () { });
            }
            previouswarranty = current;
        }
             );

        if ($("#inpPromotionProductID").val() != "-1") {
            $("#dropPromotionProduct").val($("#inpPromotionProductID").val());
        }

    }

    function deletePromotion(sender) {
        if (sender) {
            $("#delPromotionBtn").trigger("click");
        } else {
            $("#delpromotionid").val("-1");
        }
    }
</script>
<style type="text/css">
    input[type=submit]
    {
        cursor: pointer;
    }
    .displaynone
    {
        display: none;
    }
</style>
<asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
    <ContentTemplate>
        <div class="mainheader">
            <div class="contextual">
                <asp:Panel ID="listbuttons" runat="server">
                    <div style="height: 10px; width: 75px">
                        <asp:Button runat="server" CssClass="btn btn-large btn-block btn-info btn-add" ID="addLink"
                            Text="Add" OnClick="AddWarranty" />
                    </div>
                </asp:Panel>
                <asp:Panel ID="formbuttons" runat="server" Visible="false">
                    <div style="height: 10px; width: 75px">
                        <asp:Button runat="server" CssClass="btn btn-large btn-block btn-info btn-add" ID="Button1"
                            Text="Back" OnClick="BackToList" />
                    </div>
                </asp:Panel>
            </div>
            <div class="subheader">
                <h2 class="icon-credit pagetitle">
                    <asp:Literal ID="ltlPageTitle" Text="Promotion List" runat="server"></asp:Literal></h2>
            </div>
        </div>
        <asp:Panel ID="listpanel" runat="server">
            <asp:Repeater ID="rptPromotionList" runat="server" OnItemCommand="rptList_ItemCommand">
                <HeaderTemplate>
                    <table class="list promotionlist">
                        <thead>
                            <tr>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Discount
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    From Date
                                </th>
                                <th>
                                    To Date
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                </HeaderTemplate>
                <ItemTemplate>
                    <tr>
                       
                        <td align="center">
                            <%# Eval("ProductName")%>
                        </td>
                         <td align="center">
                             <asp:Label ID="lblDiscount" runat="server" Text='<%# Eval("Discount")%>'></asp:Label>%
                        </td>
                        <td align="center">
                            <asp:Label ID="lblDescription" runat="server" Text='<%# Eval("Description")%>'></asp:Label>
                        </td>
                        <td align="center">
                            <asp:Label ID="lblFromDate" runat="server" Text='<%# Eval("FromDate")%>'></asp:Label>
                        </td>
                        <td align="center">
                            <asp:Label ID="lblEndDate" runat="server" Text='<%# Eval("EndDate")%>'></asp:Label>
                        </td>
                        <td class="buttons">
                            <div style="display: none;">
                                <%-- <a href='<%# "WarrantyEdit.aspx?id="+Eval("ID") %>' class="icon icon-edit">Edit</a>--%>
                                <asp:LinkButton ID="LinkButton1" runat="server" Text="Edit" CommandName="ItemEdit"
                                    CommandArgument='<%# Eval("ID") %>' class="icon icon-edit"></asp:LinkButton>
                                &nbsp;&nbsp;
                                <asp:LinkButton ID="lblDel" runat="server" Text="Delete" CommandName="ItemDel" CommandArgument='<%# Eval("ID") %>'
                                    class="icon icon-del"></asp:LinkButton>
                                <asp:Label ID="lblProductID" runat="server" Text='<%# Eval("ProductID")%>' Visible="false"></asp:Label>
                                <asp:Label ID="lblId" runat="server" Text='<%# Eval("ID")%>' Visible="false"></asp:Label></div>
                        </td>
                    </tr>
                </ItemTemplate>
                <FooterTemplate>
                    </tbody> </table>
                </FooterTemplate>
            </asp:Repeater>
            <webdiyer:AspNetPager ID="AspNetPager1" runat="server" OnPageChanged="AspNetPager1_PageChanged"
                PageSize="10" CssClass="aspnetpager">
            </webdiyer:AspNetPager>
        </asp:Panel>
        <asp:Panel ID="formpanel" runat="server" Visible="false">
            <div class="md-modal md-effect-1 md-show" id="modal-form">
                <div class="md-content">
                    <h3>
                        Promotion Form</h3>
                    <div>
                        <table class="form-table">
                            <tr>
                                <td class="form-label">
                                   Product:
                                </td>
                                <td>
                                    <asp:DropDownList ID="dropPromotionProduct" runat="server" DataTextField="pro_Name" DataValueField="pro_Id">
                                    </asp:DropDownList>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Discount:
                                </td>
                                <td>
                                    <asp:TextBox ID="txtDiscount" runat="server" ></asp:TextBox>%
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Description:
                                </td>
                                <td>
                                    <asp:TextBox ID="txtPromotionDescription" runat="server" TextMode="MultiLine" Rows="4"></asp:TextBox>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Start Date:
                                </td>
                                <td>
                                    <asp:TextBox ID="txtStartDate" runat="server" CssClass="Wdate"></asp:TextBox>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    End Date:
                                </td>
                                <td>
                                    <asp:TextBox ID="txtEndDate" runat="server" CssClass="Wdate"></asp:TextBox>
                                </td>
                            </tr>
                            
                            <tr style="display: none;">
                                <td colspan="2" align="center">
                                    <input type="hidden" id="inpPromotionProductID" runat="server" clientidmode="Static"
                                        value="-1" />
                                    <asp:Label ID="lblProductID" runat="server" Visible="false"></asp:Label>
                                    <asp:Label ID="lblId" runat="server" Visible="false"></asp:Label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="md-footer">
                        <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click"
                            UseSubmitBehavior="false" class="btn btn-large btn-block btn-info btn-center"
                            Width="75" Height="30" /></div>
                </div>
            </div>
        </asp:Panel>
        <input type="hidden" id="delpromotionid" runat="server" clientidmode="Static" value="" />
        <asp:Button ID="delPromotionBtn" runat="server" Width="0" Height="0" CssClass="displaynone"
            OnClick="Delete" ClientIDMode="Static"></asp:Button>
    </ContentTemplate>
</asp:UpdatePanel>
